In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("./Datasets/petrol.csv")

In [3]:
Y, M, D = [], [], []
for idx, item in df.iterrows():
    y, m, d = item["date"].split("-")
    Y.append(int(y))
    M.append(int(m))
    D.append(int(d))
    
df["Year"] = Y
df["Month"] = M
df["Day"] = D

In [4]:
df["Year"] = Y
df["Month"] = M
df["Day"] = D

In [17]:
df

           city        date   rate        state  Year  Month  Day
0     Hyderabad  2011-12-01  73.07    Telangana  2011     12    1
1     Hyderabad  2012-04-01  73.08    Telangana  2012      4    1
2     Hyderabad  2012-05-24  81.44    Telangana  2012      5   24
3     Hyderabad  2012-06-03  78.11    Telangana  2012      6    3
4     Hyderabad  2012-06-29  74.89    Telangana  2012      6   29
...         ...         ...    ...          ...   ...    ...  ...
5043     Mumbai  2020-12-27  90.30  Maharashtra  2020     12   27
5044     Mumbai  2020-12-28  90.30  Maharashtra  2020     12   28
5045     Mumbai  2020-12-29  90.30  Maharashtra  2020     12   29
5046     Mumbai  2020-12-30  90.30  Maharashtra  2020     12   30
5047     Mumbai  2020-12-31  90.30  Maharashtra  2020     12   31

[5048 rows x 7 columns]

In [6]:
df.groupby("city").size()

city
Bengaluru     975
Chennai      1031
Delhi        1029
Hyderabad     978
Mumbai       1035
dtype: int64

In [3]:
def generatePre(df, city):
    cityDF = df[df["city"]==city]
    y1 = cityDF[cityDF["Year"]==2019]
    y2 = cityDF[cityDF["Year"]==2020]
    y2 = y2[y2["Month"]==1]
    y2 = y2[y2["Day"]<27]
    combined = y1.append(y2)
    combined = combined.reset_index()
    del combined["index"]
    return combined.sort_values("date")

In [4]:
def generatePost(df, city):
    cityDF = df[df["city"]==city]
    y1 = cityDF[cityDF["Year"]==2020]
    y1 = y1[y1["Month"]==1]
    y1 = y1[y1["Day"]>=27]
    y2 = cityDF[cityDF["Year"]==2020]
    y2 = y2[y2["Month"]>1]
    comb = y1.append(y2)
    comb = comb.reset_index()
    del comb["index"]
    return comb.sort_values("date")

In [5]:
cityNames = ["Bengaluru", "Chennai", "Kolkata", "Hyderabad", "Delhi", "Mumbai"]

In [6]:
pre = generatePre(df, city)

NameError: name 'df' is not defined

In [7]:
def getMean(myDF):
    meanDF = myDF.groupby(["Year", "Month"]).mean()
    del meanDF["Day"]
    return meanDF

In [8]:
df = pd.read_csv("./Datasets/petrol.csv")

Y, M, D = [], [], []
for idx, item in df.iterrows():
    y, m, d = item["date"].split("-")
    Y.append(int(y))
    M.append(int(m))
    D.append(int(d))
    
df["Year"] = Y
df["Month"] = M
df["Day"] = D

for city in cityNames:
    pre = getMean(generatePre(df, city))
    post = getMean(generatePost(df, city))
    pre.to_csv(f"./cleaned_datasets/petrol/pre/{city}.csv")
    post.to_csv(f"./cleaned_datasets/petrol/post/{city}.csv")

In [9]:
df = pd.read_csv("./Datasets/diesel.csv")

Y, M, D = [], [], []
for idx, item in df.iterrows():
    y, m, d = item["date"].split("-")
    Y.append(int(y))
    M.append(int(m))
    D.append(int(d))
    
df["Year"] = Y
df["Month"] = M
df["Day"] = D

for city in cityNames:
    pre = getMean(generatePre(df, city))
    post = getMean(generatePost(df, city))
    pre.to_csv(f"./cleaned_datasets/diesel/pre/{city}.csv")
    post.to_csv(f"./cleaned_datasets/diesel/post/{city}.csv")